
/* Contact Section
--------------------------------*/

#contact {
  padding: 60px 0 20px 0;
}

#contact .contact-info {
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #38b5ad;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}



.container{
  width: 100%;
}
#contact{
  background-color: #38b5ad;
  display: flex;
}

#contact .contact-info h3{
color: white;
}

#contact .contact-info i{
  color: orangered;
}

#contact p,#contact address{
  font-family: 'Cairo', sans-serif;
}
#contact h3{
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}
#contact .contact-info a:hover {
   color: red;
}
.contact-info{
  display: grid;
  grid-template-areas: 
        "telefono email address mapa"
        "twit insta youtu facebook";
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  padding-left: 5em;
  padding-right: 5em;
  grid-gap:2em;
}
.col-md-4{
  font-size: 20px;
  justify-self:center;
}
#contact .contact-address{
  grid-area: address;
}
#contact .contact-maps{
  grid-area: mapa;
}
#contact .contact-phone{
  grid-area: telefono;
}
#contact .contact-facebook{
  grid-area: facebook;
}
#contact .contact-email{
  grid-area: email;
}
#contact .contact-youtube{
  grid-area: youtu;
}
#contact .contact-insta{
  grid-area: insta;
}
#contact .contact-twitter{
  grid-area: twit;
}
#contact .col-md-4{
  width: 100%
}

@media (max-width:992px) {
  .contact-info{
    display: grid;
    grid-template-areas: 
          "telefono email"
          "address mapa"
          "twit insta"
          "youtu facebook";
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    padding-left: 2em;
    padding-right: 2em;
    grid-gap:2em;;
  }
}

@media (max-width: 475px) {
  .contact-info{
    display: grid;
    grid-template-areas: 
          "telefono"
          "email"
          "address"
          "mapa"
          "twit"
          "insta"
          "youtu"
          "facebook";
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(8,1fr);
    padding-left: 1em;
    padding-right: 1em;
    grid-gap:2em;
  }
}
